body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

img {
    max-width: 80%;
}

.note {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    cursor: move;
    resize: none;
    min-width: 25px;
    width: 110px;
    height: 18px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
